@page "/categorias"
@inherits API

<main>
    <section id="index-header">
        <h1>Categorias</h1>
        <a href="/categorias/adicao">Adicionar</a>
    </section>

    <section id="index-search">
        <Categorias_Pesquisa CallBack="RecebeCategorias" />
    </section>

    <section id="index-list">
        @if (Categorias is null)
        {
            <p>Carrregando...</p>
        }
        else if (Categorias.Count() == 0)
        {
            <p>Não foram encontradas Categorias!</p>
        }
        else
        {
            <ul>
                @foreach (var categoria in Categorias)
                {
                    <li>
                        <div class="index-list-item row">
                            <a href="/categorias/edicao/{categoria.ID}" class="col-sm-11">
                                <div class="row">
                                    <div class="col-sm-1">
                                        @* <img src="@(categoria.Receita ? "/img/positive.png" : "/img/negative.png")" alt=""> *@
                                    </div>
                                    <div class="col-sm-11">
                                        <span>Descrição: </span> @categoria.Descricao
                                    </div>
                                </div>
                            </a>

                            <div class="btn-list col-sm-1">
                                <button>
                                    <img src="/img/delete.png" />
                                </button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </section>
</main>

@code {
    public List<Categoria> Categorias { get; set; }

    private void RecebeCategorias(List<Categoria> categorias)
    {
        Categorias = categorias;
    }
}