@page "/categorias"
@inherits API

<main>
    <section class="index-header">
        <h1>Categorias</h1>
        <a href="/categorias/adicao" class="btn-classic">Adicionar</a>
    </section>

    <section>
        <Categorias_Pesquisa CallBack="RecebeCategorias" />
    </section>

    <section class="index-list">
        @if (Categorias is null)
        {
            <p class="alerta">Carrregando...</p>
        }
        else if (Categorias.Count() == 0)
        {
            <p class="alerta">Não foram encontradas Categorias!</p>
        }
        else
        {
            <ul>
                @foreach (var categoria in Categorias)
                {
                    <li>
                        <a href="/categorias/edicao/@categoria.ID">
                            <div class="w-1">
                                <span class="@(categoria.Tipo == 1 ? "fas fa-plus" : "fas fa-minus")"></span>
                            </div>

                            <div class="w-1">
                                <span>ID: @categoria.ID</span>
                            </div>

                            <div class="w-10">
                                <span>Descrição: </span> @categoria.Descricao
                            </div>
                        </a>
                    </li>
                }
            </ul>
        }
    </section>
</main>

@code {
    public List<Categoria> Categorias { get; set; }

    private void RecebeCategorias(List<Categoria> categorias)
    {
        Categorias = categorias;
    }
}