@import url('variables.css');

.form {
    display: flex;
    flex-wrap: wrap;
}

.form label {
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

    .form input[type=text] {
        display: block;
    }

.form-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.div-align {
    margin-top: auto;
    margin-bottom: .8rem;
}